[user]
	name = Stream Liu
	email = logostream@gmail.com
[credential]
	helper = cache
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[remote "foo.notes"]
	url = ssh://foo/~/github/notes.git
	fetch = +refs/heads/*:refs/remotes/foo/*
[remote "foo.home_config"]
	url = ssh://foo/~/github/home_config.git
	fetch = +refs/heads/*:refs/remotes/foo/*
[merge]
	tool = vimdiff
[push]
	default = simple
